<div class="matching-page">
  <Navbar/>

<div class="contain"> 
<div class="search-container">

  <el-select  v-model="candidateId"  placeholder="Select">
    <el-option
      v-for="item in candidates"
      :key="item.id"
      :label="item.name"
      :value="item.id">
    </el-option>
  </el-select>


  <el-select v-model="missionCode"  placeholder="Select">
    <el-option
      v-for="item in jobs"
      :key="item.code"
      :label="item.name"
      :value="item.code">
    </el-option>
  </el-select>
<div>
<el-button @click="getMatchResult">Match!</el-button>
</div>
</div>


<Matching :name="name" :table-data-jobs="tableDataJobs" 
:table-data-skills="tableDataSkills"
:table-data-riasec="tableDataRIASEC"
:table-data-emotion="tableDataEmotion"
:options-spider-graph="optionsSpiderGraph"/>

</div>
</div>